:root {
    font-family: sans-serif;
}

body {
    margin: 0;
}

canvas {
    position: absolute;
    background-color: #223;
}

#landing {
    background-color: #0000;
    border: none;
    text-align: center;
    color: white;
}

#landing::backdrop {
    background-color: #0008;
}